<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Movie ekle</h5></div>
        </div>
        <div class="card-body">
            <form [formGroup]="movieAddForm">
                <div class="mb-3">

                    <label for="movieName">Movie Adı</label>
                    <input type="text" id="movieName"
                     formControlName="movieName" class="form-control"
                     placeholder="Movie Adı"/>
                </div> 
                <div class="mb-3">   
                     <label for="categoryId">Category Id</label>
                     <input type="number" id="categoryId"
                     formControlName="movieCategoryId" class="form-control"
                     placeholder="Category Id"/>
                </div> 
                <div class="mb-3">    
                     <input type="number" id="employeeId"
                     formControlName="employeeId" class="form-control"
                     placeholder="employeeId"/>
                    </div> 
                <div class="mb-3">
                     <input type="date" id="movieVisionDate"
                     formControlName="movieVisionDate" class="form-control"
                     placeholder="movieVisionDate"/>
                    </div> 
                <div class="mb-3">
                     <input type="text" id="movieReview"
                     formControlName="movieReview" class="form-control"
                     placeholder="movieReview"/>
                    </div> 
               
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
    </div>
    
</div>